---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';

const project = (await getCollection('project')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h1>Projects</h1>
        <ul>
          {
            project.map((project) => (
              <li>
                <a href={`/project/${project.id}/`}>
                  {project.data.heroImage && (
                    <Image width={720} height={360} src={project.data.heroImage} alt="" />
                  )}
                  <h4>{project.data.title}</h4>
                  <p>{project.data.pubDate.toDateString()}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
